 body {

     background-image: url("https://hdwallsource.com/img/2014/7/matte-black-wallpaper-29553-30272-hd-wallpapers.jpg");
     color: white;
     position: relative;

     padding-bottom: 900px;
     min-height: 100%;
     font-family: "Helvetica Neue", Arial, sans-serif;
 }

 .start {


     list-style-type: none;
     padding: 0;
     overflow: hidden;
     background-color: #4d4d4d;
     border-top: solid;
     border-width: 14px;
     border-color: yellow;
     font-size: 20px;
     font-family: monospace;



 }

 /*
        .lia {
            float: left;
            display: inline-block;
            color: white;
            text-align: center;
            padding: 18px 10px;
            text-decoration: none;
            margin: 0px 0px;
            border-top: solid;
            border-top: yellow;
            margin-left: 50px;
            width: 50px;
        }
*/

 ul.start a {
     float: left;
     display: inline-block;
     color: white;
     text-align: center;
     padding: 18px 10px;
     text-decoration: none;
     margin: 0px 0px;
     border-top: solid;
     border-top: yellow;
     margin-left: 50px;
     width: 50px;
 }



   ul.start a:hover {
     background-color: tomato;
 }

 li a {
     color: #ffffff;
 }

 #fortnite {
     width: 300px;

 }

 #Ne {
     float: left;
     width: 25%;


 }



 .bild {
     margin: 20px 0px;
     border: 3px;
 }

 .center {
     margin-top: 40px;
     margin-left: 110px;
 }

 #jon {
     width: 400px;
 }

 #nyheter {
     position: absolute;
     top: 250px;
     right: 300px;
     width: 250px;
     height: 800px;
     padding: 20px;
     overflow: hidden;
     background-color: grey;
     border-top: solid;
     border-width: 15px;
     border-color: yellow;
 }

 .top {
     border: solid;
     border-color: grey;
     color: #ffffff;
     width: 92px;
     height: 40px;
     padding-left: 10px;
     padding-bottom: 15px;
     background-color: #ff6145;

 }

 .newt {
     color: yellow;

     font-size: 30px;
 }

 /*
        .acolor {
            color: #fafafa;
        }
*/

 /*
        .fontf {
            font-family: monospace;

        }
*/

 div h2 {
     font-family: monospace;
 }

 /*div .top{  }*/

 #color1 {
     background-color: #5bbf5b;
 }

 #color2 {
     background-color: #5a5acb;
 }

 footer {


     position: absolute;
     right: 0;
     bottom: 0;
     left: 0;
     padding: 1rem;
     background-color: #959595;
     text-align: center;
 }
