* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Verdana, sans-serif;
   background-color: #3b3737;
        

}

.icon {
    float:right;
    position: relative;
    bottom: 20px;
    font-size: 30px;
   
   
}

.icon:hover {
   
    color:#00f5ff;
  
    
}

 #map {
           width: 50%;
           height: 500px;
           position: absolute;
           left: 40%;
           margin-top: 30px;
     
         
       }

.godistext {
    position: relative;
    margin-top: 0px;
    color: #ff0045;
}
.txtgodis {
    font-family: 'Bree Serif', serif;
    padding: 30px;
    float: left;
    margin-left: 30px;
    font-size: 20px;
     color: #fbffff;
}


.imginfo {
    
    width: 100%;
    height: 600px;
    
}

/* Slideshow container */

.slideshow-container {

    max-width: 500px;
    position: relative;
    margin:auto;

}

/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.imgh {

    
    height: 100px;
    vertical-align: middle;
    margin-top: 90px;
/*
    padding-right:50px;
     padding-left:50px;
*/

}

.imgleft{  
   margin-left: 60px;
}
.imgright{
    margin-right: 60px;
    
}

.column {
  float:left;
    width: calc(24.33%);
    
/*    padding:50px;*/
}

/* Clearfix (clear floats) */

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*
        .imgline {
            display: inline-block;
        }
*/

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.logo {
    /*    margin: auto;*/
    display: block;
    width: 25%;
    position: absolute;
    left: 37%;
    bottom: 500px;
    overflow: hidden;

}

.grey {

    background-image: url(https://images.unsplash.com/photo-1519686997393-7bdb73d6c54d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4a032138a017a8a1f104622fe4b52cda&auto=format&fit=crop&w=1050&q=80);
    height: 300px;
    margin: 0;
    padding: 0;
     background-repeat:round;
    overflow: hidden;
  
}

.navbar {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ea06ac;
  
 font-family: Chewy;


}

.navbar li {

    display: inline-block;
    position: relative;
    left: 35%;
/*    font-family: Chewy;*/

}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    font-size: 50px;
   
    


}

.navbar li a:hover {
    background-color: #fd73e3;

}



.mit { 
    position: relative;
    right: 50px;
    
}


.mito {
    position: relative;
    left: 50px;
    }

.mit2 {
    position: relative;
}


.items {
    margin-top: 30px;


    overflow: auto;


    padding: 20px;
}

.boxes {
    padding: 30px;
    float: left;
    background-color: #ffffff;
    border-style: outset;
    border-width: 7px;
    border-color: #db1470;    
    text-align: center;
   width: calc(33% - 66px);
    margin: 30px;
   border-radius: 12px;
}
/* höjden*/
.boxes div {
    height: 230px;
}


/*
.boxes img {
    height: 230px;
   
}
*/

.clear {

    clear: both;
}

.boxes img {
    width: 70%;


}

.boxes p {
    border-top: 2px solid black;
    margin-top: 60px;
    text-align: left;
    font-size: 30px;
    padding-top: 20px;
    font-family: chewy
}

iframe { 

    margin-top: 140px;
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 300px;
    
}

.footer {
  position: relative;
  right: 0;
  bottom:0;
  left: 0;
  padding: 1rem;
  background-color: #919191;
  text-align: center;
    top:200px;
}

.foorer1 {
   top: 650px;
    text-align: center;
    
}



.fotertxt
{
   margin-right: 30%;
}