ul,
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
p,
form {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

img {
    border: none;
}

#container {
    width: 90%;
    max-width: 900px;
    width: expression(document.body.clientWidth> 901? "900px": "auto");
    margin: 0 auto;
}

#header,
#menu,
#side,
#content,
#content #principal,
#content ,
#footer {
    border: 2px solid #777;
}

#header {
    clear: both;
}

#menu {
    clear: both;
     background-image: url("bckgr_menu.gif")
}

#side {
    float: left;
    width: 20%;
}

#content {
    float: right;
    width: 78%;
}

#content #principal {
    float: left;
    width: 78%;
}

#content #secundary {
    float: right;
    width: 20%;
    
}

#footer {
    clear: both;
}

#header #logo {
    float: left;
}

#header #search {
    float: right;
    border : dashed;
}

#menu ul#menu_principal li {
    display: inline;
    float: left;
}

#content #principal .article img {
    width: 100px;
    float: left;
}

#footer .links {
    float: left;
}

#footer .copyright {
    float: right;
}

#header,
#menu,
#side,
#side 
#side ,
#content,
#content #principal,
#content #secundary,

}
#footer {
    padding: .5em;
    border: none;
}



#side {
    padding: 0;
}

#header {
    padding: 1em;
}

#menu {
    margin-bottom: .5em;
    border-bottom: 1px solid #004C99;
}

#content {
    width: 77%;
    padding: 0;
}

#content #principal {
    width: 73%;
}

#content #secundary {
    border: 2px dashed #dfff30;
}

#footer {
    background-color: #F8F8F8;
    padding: .5em 0;
    margin-top: 1em;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
}

#content #principal .article {
    margin-bottom: 1em;
}

#content #principal .article img {
    margin: .5em;
}

#side #news {
    border: 1px solid #C5C5C5;
}

#side #commercial {
    margin-top: 1em;
    border: 1px dashed #C60;
}
#news {
    background-color: #F8F8F8;}

    #commercial { background-color:  #FFF6CD}
#secundary h2{ 
background-color: #DB905C;
padding: .2em;
margin: .1em}
