.midle {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}
.mitten {
    text-align: center;
}

#info {
    border:2px solid blue;
    width: 100px
}

.bigbox {
    
    border: 3px solid red;
    padding: 30px
}

    






img {
    
    width:10%;
}