@charset "utf-8";
body {
    margin: 0;
    
}
.wipbage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "header  header"
        "navbar  navbar"
        "articl sidbar"
        "fotter fotter"
}

.wipbage > div {
    
    border: solid 1px red;
   
}

.header {
    grid-area: header;
}

.header h1 {
    color: #fc3;
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
    letter-spacing: 5px;
}

.header h2 {
    color: #eee;
    text-align: center;
    padding-bottom: 20px
}

.navbar {
    grid-area: navbar;
}

nav {
    background: #555;
   
  
}

nav a {
    padding: 10px;
    display: inline-block;
    background: #444;
    color: #fc3;
    text-decoration: none;
    width: 10%;
     text-align: center;
    border: solid 1px #333;
    border-top: 0px;
}

nav a:hover {
    background: #555;
}


.articl {
    grid-area: articl;
    padding: 10px;
    background: #eee;
}

.sidbar {
    grid-area: sidbar;
    padding: 10px;
    background: white;
}

.fotter {
    grid-area: fotter;
    background: #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.fotter h3 {
    color: #fc3
}
.fotter p {
    color: white;
}

#img1 {
    background: url(venedig.jpg);
    padding: 80px 10px 10px 10px;
    background-size: 100%;



}

#img2 {
    margin-top: 30px;
    background: url(sangimignano.jpg);
    padding: 80px 10px 10px 10px;
    background-size: 100%;



}
.rbga {
    padding: 10px;

    background-color: rgba(38, 37, 37, 0.5);

    font-size: 20px;
    color: white;
}

span {
    border: solid 1.4px #fc3;
    padding: 5px;
}

h2 + p:first-letter{
    font-size: 1.4em;
}

.rbga h5{
    margin-top: 5px;
    margin-bottom: 5px;
}


