/*style till dagar i kalender*/

.dagar li {
    list-style-type: none;
    display: inline-block;
    width: 17.6%;
    text-align: center;
    margin: 40px 30px 35px 24px;
    background-color: #98ffe3;

    font-size: 20px;
    color: #777;
    border: 12px solid #ff9898;
}
